@property --base-unit {
    syntax: "<length>";
    inherits: false;
    initial-value: 8px;
}
@property --color-text {
    syntax: "<color>";
    inherits: true;
    initial-value: #000;
}
@property --color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: #fff;
}

:root {
    --spacing-1: calc(var(--base-unit) * 1);
    --spacing-2: calc(var(--base-unit) * 2);
    --container-offset: var(--base-unit);
    --color-light: #eee;
    --color-dark: #27252a;
    --color-text: var(--color-dark);
}

@media (prefers-color-scheme: light) {
    :root,
    html,
    body {
        --color-text: var(--color-dark);
        --color-background: var(--color-light);
    }
}
@media (prefers-color-scheme: dark) {
    :root,
    html,
    body {
        --color-text: var(--color-light);
        --color-background: var(--color-dark);
    }
}

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

/* Content container */
@property --container-offset {
    syntax: "<length>";
    inherits: true;
    initial-value: 0px;
}
@property --container-width {
    syntax: "<length-percentage>";
    inherits: true;
    initial-value: 100%;
}
.container {
    width: calc(100% - var(--container-offset) - var(--container-offset));
    max-width: var(--container-width);
    padding-inline: var(--container-offset);
    margin-inline: auto;
    box-sizing: border-box;
    container-name: content;
    container-type: inline-size;
}

@media (min-width: 768px) {
    :root {
        --container-offset: var(--spacing-2);
    }
}

ts-map {
    height: 80dvh;
}
