@import "./styles/container.css";

@property --base-unit {
    syntax: "<length>";
    inherits: false;
    initial-value: 8px;
}
@property --color-text {
    syntax: "<color>";
    inherits: true;
    initial-value: #000;
}
@property --color-background {
    syntax: "<color>";
    inherits: true;
    initial-value: #fff;
}

:root {
    --spacing-1: calc(var(--base-unit) * 1);
    --spacing-2: calc(var(--base-unit) * 2);
    --container-offset: var(--base-unit);
    --color-light: #eee;
    --color-dark: #27252a;
    --color-text: var(--color-dark);
}

@media (prefers-color-scheme: light) {
    :root,
    html,
    body {
        --color-text: var(--color-dark);
        --color-background: #fff;
    }
}
@media (prefers-color-scheme: dark) {
    :root,
    html,
    body {
        --color-text: var(--color-light);
        --color-background: var(--color-dark);
    }
}

html,
body {
    overflow-x: hidden;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: var(--color-text);
}

@media (min-width: 768px) {
    :root {
        --container-offset: var(--spacing-2);
    }
}

ts-map {
    height: 100dvh;
    position: relative;
}
ts-timeline {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--color-text);
    background-color: oklch(
        from var(--color-background) l c h / calc(alpha - 0.2)
    );
}

ts-loader {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 10px;
    right: 10px;
}
